{% extends 'cms/cms_base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}评论管理{% endblock %}

{% block head %}
    <script src="{{ static("cms/js/comments.js") }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <div class="top-box">
        <div style="float: left;line-height: 30px;font-size: 16px">
           <b>搜索结果：</b>{{ kw }}
        </div>

        <div class="search-filter-group" style="float: right">
            <form action="{{ url_for('cms.search_c') }}">
                <input type="text" name='kw' placeholder="请输入作者或帖子关键词" required>
                <button type="submit" class="btn btn-primary btn-sm">搜索</button>
            </form>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-sm-4">内容</th>
                <th class="col-sm-2">发表时间</th>
                <th class="col-sm-1">点赞数</th>
                <th class="col-sm-1">被回复</th>
                <th class="col-sm-2">作者</th>
                <th class="col-sm-2">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr data-id="{{ comment.id }}">
                    <td><a target="_blank" href="{{ url_for("front.post_detail",post_id=comment.post_id) }}">{{ comment.content |simple }}</a></td>
                    <td>{{ comment.create_time }}</td>
                    <td>{{ comment.stars | length }}</td>
                    <td>{{ comment.replies | length }}</td>
                    <td>{{ comment.author.username }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm remove-btn">删除</button>
                    </td>
                </tr>
            {% endfor %}
            {% for user in users %}
                {% for comment in user.comments %}
                    <tr>
                    <td><a target="_blank" href="{{ url_for("front.post_detail",post_id=comment.post_id) }}">{{ comment.content |simple }}</a></td>
                    <td>{{ comment.create_time }} </td>
                    <td>{{ comment.stars | length }}</td>
                    <td>{{ comment.replies | length }}</td>
                    <td>{{ comment.author.username }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm remove-btn">删除</button>
                    </td>
                    </tr>
                {% endfor %}

            {% endfor %}

        </tbody>

    </table>
    {% if not users and not comments %}
        <div style="font-size: 16px;margin-left: 16px">
        <b>暂无结果！</b>
        </div>

    {% endif %}
{% endblock %}